dataset_to_use: lasco
dataset_split: 'val'    #options:['train', 'val']

checkpoint_path: '/local/vondrick/nd2794/pretrained_models/clip/clip-vit-base-patch32'


dataloader:
  batch_size: 50
  num_workers: 10
  pin_memory: True
  shuffle: False
  persistent_workers: True
  drop_last: False


seed: 42
float32_matmul_precision: high


data:
  lasco:
    dir: '/local/vondrick/nd2794/CoIR/data/LaSCo'
    splits: ['train', 'val']
  fashioniq:
    dir: '/local/vondrick/nd2794/CoIR/data/FashionIQ'
    splits: ['train', 'val', 'test']
  cirr:
    dir: '/local/vondrick/nd2794/CoIR/data/CIRR'
    splits: ['train', 'val', 'test1']
  circo:
    dir: '/local/vondrick/nd2794/CoIR/data/CIRCO'
    splits: ['val', 'test']


TOKENIZERS_PARALLELISM: 'true'    # choices: ['true', 'false']
CUDA_LAUNCH_BLOCKING: '1'
TORCH_USE_CUDA_DS: '1'